<!-- base-side-menu.html -->
{% load staticfiles %}
<div class="row">
    <div class="col-md-12" style="">
        <p>
            <ul class="list-unstyled">
                <li><a href="{% url 'page_slug_view' 'submit-manuscript' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 7 %}<i class="fa fa-circle green"></i>{% endif %} Submit a Manuscript</a></li>
                <li><a href="{% url 'page_slug_view' 'submission-guidelines' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 4 %}<i class="fa fa-circle green"></i>{% endif %} Submission Guidelines</a></li>
                <li><a href="{% url 'page_slug_view' 'subscribe' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 8 %}<i class="fa fa-circle green"></i>{% endif %} Subscribe</a></li>
                <li><a href="{% url 'page_slug_view' 'ethics-statement' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 9 %}<i class="fa fa-circle green"></i>{% endif %} Ethics Statement</a></li>
                <li><a href="{% url 'page_slug_view' 'copy-edit-volunteer-program' %}" class="btn btn-md static_a_display" style="background-color: #00660D; color: white">{% if curr_page == 10 %}<i class="fa fa-circle green"></i>{% endif %} <strong>Volunteer to Copy Edit!</strong></a></li>

                <!-- <li><a href="{% url 'page_slug_view' 'permissions' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 5 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Permissions</a></li>	 -->
            </ul>
        </p>
        
        <div style="border-bottom: 1px solid #333;"></div>
        

        <p style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">Reading in a Foreign Language is published by the <a href="https://nflrc.hawaii.edu/" target="_blank">National Foreign Language Resource Center (NFLRC)</a> at the University of Hawai'i at Mānoa and is currently indexed in <a href="https://mjl.clarivate.com/search-results?issn=1539-0578&hide_exact_match_fl=true&utm_source=mjl&utm_medium=share-by-link&utm_campaign=journal-profile-share-this-journal" target="_blank">Web of Science</a> and in <a href="https://www.scopus.com/sourceid/21101107533" target="_blank">Scopus.</a></p>
        

        <div style="background-color: #A9DCBA;">
            <p style="padding: 0.5em 0 0 0.9em; margin-top: 1.0em;"><strong>Open Calls</strong></p>
            <ul class="list-unstyled">
            <li style=""><a href="https://scholarspace.manoa.hawaii.edu/bitstreams/b3aff2db-a51c-4e40-9f5e-1b00cec5aa00/download" class="btn btn-md btn-link ">Special Issue Proposals</a></li>
            <li style=""><a href="https://nflrc.hawaii.edu/rfl/item/586" class="btn btn-md btn-link ">Reviews</a></li>
            <li style=""><a href="https://nflrc.hawaii.edu/rfl/item/580" class="btn btn-md btn-link ">Readings on L2 Reading</a></li>
        </ul>
        </div>
        

        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">
            
            <p><strong>Continuous Call for Reviews</strong>, Teresa Maria Wlosowicz, <em>RFL</em> Reviews Editor, <a href="mailto:melomane.plurilingue@gmail.com">melomane.plurilingue@gmail.com</a></p>
            
            <p>Grabe, W. &amp; Yamashita, J. (2022). <em>Reading in a second language: Moving from theory to practice (2nd ed.)</em>. Cambridge: Cambridge University Press.</p>
            <p>Kusiak, M. (2013). <em>Reading comprehension in Polish and English: Evidence from an introspective study</em>. Cracow: Jagiellonian University Press.</p>
            <p>Pae, H.K. (2020). <em>Script effects as the hidden drive of the mind, cognition, and culture</em>. With a Foreword by Charles A. Perfetti. Cham, Switzerland: Springer.</p>
            <p>Shiotsu, T. (2010). <em>Components of L2 reading: Linguistic and processing factors in the reading test performances of Japanese EFL learners</em>. Cambridge: Cambridge University Press.&nbsp;</p>
            <p>A free E-book copy will be made available to the reviewer of the books listed above. The call is primarily open to academics, researchers in areas related to foreign language reading (applied linguistics, pedagogy, psychology, etc.), teachers and students (both doctoral and graduate students), however, the list is not exhaustive.</p>     
        </div>
        

        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">

            <p><strong>Call for Contributors &ldquo;Readings on L2 Reading&rdquo; Annual Column</strong></p>
            <p><em>Reading in a Foreign Language</em> is seeking contributors for the &ldquo;Readings on L2 Reading&rdquo; annual column. This annual feature offers an archive of articles published in other venues during the past year and serves as a valuable tool to readers of <em>Reading in a Foreign Language</em>. This is an excellent opportunity to provide service to the profession while reviewing the latest research in the field of second and foreign language reading. All interested researchers are encouraged to apply, especially graduate students and early career researchers.&nbsp;&nbsp;</p>
            <p>Shenika Harris, <a href="mailto:sharris@lindenwood.edu">sharris@lindenwood.edu</a></p>
        </div>
    </div>
</div>