<!-- base-side-menu.html -->
{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <p>
            <ul class="list-unstyled">
                <li><a href="{% url 'page_slug_view' 'submit-manuscript' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 7 %}<i class="fa fa-circle green"></i>{% endif %} Submit a Manuscript</a></li>
                <li><a href="{% url 'page_slug_view' 'submission-guidelines' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 4 %}<i class="fa fa-circle green"></i>{% endif %} Submission Guidelines</a></li>
                <li><a href="{% url 'page_slug_view' 'subscribe' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 8 %}<i class="fa fa-circle green"></i>{% endif %} Subscribe</a></li>
                <li><a href="{% url 'page_slug_view' 'ethics-statement' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 9 %}<i class="fa fa-circle green"></i>{% endif %} Ethics Statement</a></li>
                <li><a href="{% url 'page_slug_view' 'copy-edit-volunteer-program' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 10 %}<i class="fa fa-circle green"></i>{% endif %} <strong>Volunteer to Copy Edit!</strong></a></li>

                <!-- <li><a href="{% url 'page_slug_view' 'permissions' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 5 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Permissions</a></li>	 -->
            </ul>
        </p>
        
        <div style="border-bottom: 1px solid #333;"></div>
        
        <p style="font-size: 1em; background-color: rgb(245, 245, 220); padding: 0.9em;">{{ publisher_info.content|safe}}<p><a href="{% url 'page_slug_view' 'about' %}" class=""></a></p>

        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">
            <p><strong>News</strong></p>
            <p><a href="{% url 'page_slug_view' 'copy-edit-volunteer-program' %}" class="static_a_display">Volunteer Copy Editing Program</a></p>

            <p><a href="{% url 'page_slug_view' 'cap-announcement' %}" class="static_a_display">RFL Transitioning to Continuous Article Publication in 2024</a></p>
        </div>

        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">
            {{ call_open.content|safe }}
        </div>        

        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">
            {{ call_reviews.content|safe }}       
        </div>
        
        <div style="font-size: 1em; background-color: #A9DCBA; padding: 0.9em; margin-top: 1.0em;">
            {{ call_l2_reading.content|safe }}
        </div>
    </div>
</div>

