<!-- home.html -->
{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="row">
	<div class="col-md-12">
		<h5>Greta Gorsuch, Mark Feng Teng, Yeu-Ting Liu & Jing Zhou, Editors</h5>
		<p class="small">Supported by the Center for Language & Technology and the National Foreign Language Resource Center at the University of Hawai‘i at Mānoa</p>	
	</div>
</div>	
{% endblock page_header %}

{% block content %}

<!-- ROW 1 -->
<div class="row">
	<!-- LEFT PANEL -->
	<div class="col-md-9">
		{{ toc.Article.0 }}

			{% if special_issue %}
            <div class="col-md-12 pb-2">
                <!-- Special Issue Book cover -->
                <div class="card border-0 rounded-0 bg-rfl-green lh-sm" style="height: 100%;">
                    <div class="card-body">
                        <span class="badge text-light rounded-0 mb-1" style="background-color: darkgreen;">{{ special_issue_year }} Special Issue</span> 
                        <br>
                        <div class="oai-micro-fs-6 pb-2"><br></div>
                        <h4 style="height: 50%" class="card-title"><strong>{{special_issue.name}}</strong></h4>
                        {{special_issue.description}}
                    </div>        
                    <div class="card-body oai-micro-fs-8">
                            {% if special_issue.edited_by %}
                                <i>Edited by</i> <br>{% for e in special_issue_editors %}{{e}}<br>{% endfor %} 
                            {% endif %}     
                    </div>
                    <a href="{% url 'collection' special_issue.pk %}" class="stretched-link"></a>
                    
                </div>
                <!-- <div>
                    <span class="badge llt-burgundy rounded-0 oai-micro-fs-8"><a href="http://localhost:8000/media/voices-from-llt/" class="llt-burgundy"><i class="fa-solid fa-podcast fa-xl"></i></a></span>
                </div> -->
            </div>
            {% endif %}

		    <!-- Latest article display -->
            {% if latest_article %}
            <div class="row mb-3">
	            <div class="col-6 pb-2">
	                <div class="card border-0 border-start-0 border-top-0 border-end-0 border-bottom-0 rounded-0 bg-rfl-green text-dark" style="border-color: #E9CC81;height: 100%;">
	                	
	                    <div class="card-body ">
	                    	<div><span class="badge bg-rfl-yellow text-dark rounded-0 mb-2">Newest Article</span></div>
	                        <div class="card-title fw-bolder">{{ latest_article.0 }}</div>
	                        <div class="card-text oai-micro-fs-8">
	                            {% for j in latest_article.1 %} 
	                                {{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}
	                            {% endfor %}
	                        </div>                          
	                    </div>
	                    <div class="card-footer bg-rfl-green border-0 oai-micro-fs-8">{{ latest_article.3 }}</div>
	                    <a href="{{ latest_article.0.get_absolute_url }}" class="stretched-link"></a>               
	                </div>                         
	            </div>
        	</div>
        	{% endif %}
			
			<h3>{{current_year}} </br> <a href="{% url 'collection' latest.identifier %}" class="static_a_display" style="color: #000">{{ title.0 }}</a> {% if user.is_staff %}<small><a class="btn btn-xs btn-default" href="{% url 'oai_collection' latest.pk %}">Update</a></small>{% endif %}</h3>
			<h4> <strong>{{ title.1 }}</strong></h4>
			
			<div>
			
			{{ empty_set }}
			
			{% if toc.Preface %}<h4 class="border-space">&nbsp;</h4>{% endif %}

			{% for sub_type, data in toc.Preface.items %} 
				
				{% for doc in data.records %}
					<div class="row mb-3">
						<div class="col-10"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}

			{% if toc.Special %}<h4 class="border-space">Special Issue</h4>{% endif %}
			{% for sub_type, data in toc.Special.items %} 
				<strong>{{ sub_type }}</strong>
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}

			{% if toc.Article %}<h4 class="border-space">Regular Articles</h4>{% endif %}
			{% for sub_type, data in toc.Article.items %} 
				<strong>{{ sub_type }}</strong>				
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}{% comment "Enable after first article in 2024" %}{% if forloop.first %} <sup><span class="badge bg-rfl-green text-dark">newest</span></sup>{% endif %}{% endcomment %}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
			</div>

			<div>
			{% if toc.Discussion %}<h4 class="border-space">Discussions</h4>{% endif %}
			{% for sub_type, data in toc.Discussion.items %} 
				<strong>{{ sub_type }}</strong>
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
			</div>

			<div>
			{% if toc.Review %}<h4 class="border-space">Reviews</h4>{% endif %}
			{% for sub_type, data in toc.Review.items %}
				
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
			</div>

			<div>
			{% if toc.Feature %}<h4 class="border-space">Feature</h4>{% endif %}
			{% for sub_type, data in toc.Feature.items %} 
				<strong>{{ sub_type }}</strong>
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.3 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
			</div>

			<!-- PREVIOUS ISSUE TABLE -->
			<div class="row" style="margin-top: 2.5rem;">
				<div class="col-md-12">
					<h3 class="border-space">Previous Issues <a href="{% url 'previous_issues' %}" class="btn btn-small btn-link static_a_display">view all</a></h3>		
				</div>			

				{% for year, volume in volumes.items %}
					<div class="col-md-3">
						<a class="static_a_display vol-list-toggler" data-bs-toggle="collapse" href="#id-{{year}}-collapse">
							<i class="fa fa-caret-right"></i> {{ year }}</a>
						<ul id="id-{{year}}-collapse" class="list-unstyled collapse">
						{% for j in volume %}
							<li><p><a href="{% url 'collection' j.identifier %}" class="static_a_display">{{ j.name }}</a></p></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}					
			</div>
	</div>
	
	<!-- RIGHT PANEL -->
	<div class="col-md-3">{% include 'base-side-menu.html' %}</div>

</div> <!-- End ROW 1 -->

<!-- ROW 2 -->
<div class="row">

</div>
	
{% endblock content %}

{% block js_script %} 
<script type="text/javascript">
    // script to control visibility of vol groups when toggled.
    
    const togglebtns = document.querySelectorAll('.vol-list-toggler')
    togglebtns.forEach(function(toggler) {
        toggler.addEventListener('click', function(e) {
            if (document.querySelector('.fa-caret-down')) {
                document.querySelector('.fa-caret-down').classList.replace("fa-caret-down", "fa-caret-right");
            }

            var curr_toggle_icon = this.querySelector('i');
            if (!this.classList.contains('collapsed')) {
                curr_toggle_icon.classList.replace("fa-caret-right", "fa-caret-down");
            }

            const vol_listings = document.querySelectorAll('.show');
            vol_listings.forEach(function(listing) {
                listing.classList.toggle('show');                
            });
        });
    });

</script>
{% endblock js_script %}
		

